body {
  background-color: #eee;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a, a:hover, a:visited, a:active {
  color: #666;
}

a.btn, a.btn:hover, a.btn:visited, a.btn:active {
  color: #fff;
}

img {
  max-width: 100%;
}

.center {
  text-align: center;
}

/* ------------- TOP BAR -------------- */
#topbar {
  width: 100%;
  height: 50px;
  z-index: 200;
  position: fixed;
  top: 0;
  background-color: #3ba4e0;
  border-bottom: solid 1px #1b76b5;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 1px 1px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 1px 1px rgba(255, 255, 255, 0.57);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 1px 1px rgba(255, 255, 255, 0.57);
  background-image: -webkit-linear-gradient(bottom, #3ba4e0, #75bdf5);
  background-image: -moz-linear-gradient(bottom, #3ba4e0, #75bdf5);
  background-image: -o-linear-gradient(bottom, #3ba4e0, #75bdf5);
  background-image: -ms-linear-gradient(bottom, #3ba4e0, #75bdf5);
  background-image: linear-gradient(to top, #3ba4e0, #75bdf5);
}

#appTitle {
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

/* ------------- STATUS BAR -------------- */
#statusBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: ;
  color: #ccc;
  padding: 0 15px;
  z-index: 50;

  background: #666 url('../img/mobiIcon.png') 10px center no-repeat;
  background-size: auto 70%;

  -webkit-transition-: all 0.5s;
  -moz-transition-: all 0.5s;
  -ms-transition-: all 0.5s;
  -o-transition-: all 0.5s;
  transition-: all 0.5s;
}

#statusBar .barTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}

#statusBar .location{
  position: absolute;
  right: 80px;
  line-height: 40px;
  font-weight: bold;
  color: #afddfd;
}

#statusBar .battery{
  position: absolute;
  top: 0;
  right: 15px;
  width: 50px;
  height: 40px;
  background: url("../img/status-bar-battery.png") center center no-repeat;
  background-size: auto 60%;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 40px;
  color: #fff;
}

#statusBar .status {
  position: absolute;
  top: 0;
  left: 30px;
  width: 90px;
  height: 40px;
}

#statusBar .status.idle {
  background: url("../img/status-idle.png") center center no-repeat;
  background-size: auto 60%;
}

#statusBar .status.moving {
  background: url("../img/status-moving.png") center center no-repeat;
  background-size: auto 60%;
}

/* ------------- MENU -------------- */
#menu {
  background: #333;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.76);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.76);
  left: -230px;
}


#menu a, #menu a:hover, #menu a:visited, #menu a:active,
#landscapeMenu a, #landscapeMenu a:hover, #landscapeMenu a:visited, #landscapeMenu a:active{
    color: #fff;
}

#menu .item, #landscapeMenu .item{
  color: #fff;
  display: block;
  padding: 10px 15px 10px 45px;
  margin: 15px;
  font-size: 18px;
  line-height: 36px;
}

#menu .item.navigate, #landscapeMenu .item.navigate{
  background: #3a3a3a url('../img/menu-navigate.png') 8px center no-repeat;
  background-size: auto 50%;
}
#menu .item.manual, #landscapeMenu .item.manual{
  background: #3a3a3a url('../img/menu-drive.png') 10px center no-repeat;
  background-size: auto 45%;
}
#menu .item.training, #landscapeMenu .item.training{
  background: #3a3a3a url('../img/menu-training.png') 10px center no-repeat;
  background-size: auto 45%;
}
#menu .item.path, #landscapeMenu .item.path{
  background: #3a3a3a url('../img/menu-path.png') 10px center no-repeat;
  background-size: auto 45%;
}
#menu .item.settings, #landscapeMenu .item.settings{
  background: #3a3a3a url('../img/menu-settings.png') 10px center no-repeat;
  background-size: auto 45%;
}

#menu .item.navigate {
  background: #3a3a3a url("../img/menu-navigate.png") 8px center no-repeat;
  background-size: auto 50%;
}

#menu .item.manual {
  background: #3a3a3a url("../img/menu-drive.png") 10px center no-repeat;
  background-size: auto 45%;
}

#menu .item.training {
  background: #3a3a3a url("../img/menu-training.png") 10px center no-repeat;
  background-size: auto 45%;
}

#menu .item.path {
  background: #3a3a3a url("../img/menu-path.png") 10px center no-repeat;
  background-size: auto 45%;
}

#menu .item.settings {
  background: #3a3a3a url("../img/menu-settings.png") 10px center no-repeat;
  background-size: auto 45%;
}

#menu .item.current {
  background-color: #666;
}

/* ------------- BUTTONS -------------- */
.btn {
  background-color: #64b6ef;
  border: solid 1px #1b76b5;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
  min-width: 30px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.27);
}

.btn a, .btn a:visited, .btn a:hover, .btn a:active {
  color: #fff;
}

.btn.green {
  border: solid 1px #137a09;
  background-color: #5dc752;
}

.btn.gray {
  border: solid 1px #333;
  background-color: #444;
}

.btn.ltgray {
  border: solid 1px #666;
  background-color: #888;
}

.btn.yellow {
  border: solid 1px #ad9005;
  background-color: #dbbe33;
}

#navBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 9px;
  background-color: #94d0fa;
  padding: 0;
}

#navBtn.menu {
  background: url("../img/menu-icon.png") center center no-repeat;
  background-size: 70% 70%;
}

#navBtn.back {
  background: url("../img/back-icon.png") center center no-repeat;
  background-size: 70% 70%;
}

/* ------------- PAGE CONTENT -------------- */
#content {
  position: relative;
  top: 20px;
  padding: 30px 15px 100px 15px;
}

.centerWrapper {
  text-align: center;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  color: #2ba3ea;
  line-height: 30px;
  margin: 0;
}

/* ------------- TOOLTIPS ------------ */

.tooltip{
  padding: 1px 50px 1px 15px;
  background: rgba(254,230,110,0.85);
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
}

.tooltip .closeBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url('../img/close.png');
  opacity: 0.7;
}

.manual .tooltip{
  width: 70%;
  top: 45%;
  right: -20%;
  position: absolute;
  z-index: 99;
}


/* ------------- PATHS PANEL -------------- */
#pathsPanel {
  position: absolute;
  width: 100%;
  z-index: 20;
  -webkit-transition: all 0.5s;
}

#pathsPanel.collapsed {
  top: -260px;
  -webkit-transition: all 0.5s;
}

#pathsPanel.expanded {
  top: 45px;
  -webkit-transition: all 0.5s;
}

#pathsPanel .body {
  position: relative;
  width: 96%;
  left: 2%;
  height: 320px;
  background: #666;
  border-radius: 5px;
}

#pathsPanel .tab {
  position: relative;
  width: 90px;
  margin: auto;
  background: #666;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding-top: 10px;
  top: -15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#pathsFrame {
  position: relative;
  width: 90%;
  height: 260px;
  left: 5%;
  top: 15px;
  border: none;
  background: #666;
}

.pathsFrameInner {
  background: #666;
  color: #fff;
  height: 100%;
}

.pathsFrameInner .pathLabel, .pathsFrameInner .selector {
  color: #666;
}

.pathsFrameInner h1 {
  color: #64b6ef;
}

/* NEW PATH */
#newPathForm {
  margin-top: 10px;
}

#newPathForm .controlGroup {
  overflow: hidden;
  width: 100%; 
}

#newPathForm .controlGroup .label {
  float: left;
  width: 70px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}

#newPathForm .controlGroup.withHint .label {
  line-height: 80px;
}

#newPathForm .controlGroup .hint {
  position: relative;
  left: 15px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 3px;
}

#newPathForm .input {
  position: relative;
  float: left;
  left: 10px;
  width: 150px;
}

#newPathForm .input input {
  width: 182px;
  font-size: 20px;
  line-height: 35px;
  margin-left: 5px;
}

#newPathForm .existingLocs {
  margin-left: 85px;
  margin-top: 10px;
}

#newPathForm .existingLocs .label {
  font-size: 11px;
  font-weight: bold;
  color: #64b6ef;
  margin-bottom: 2px;
}

#newPathForm .existingLocs .locsList {
  overflow: auto;
  width: 100%;
}

#newPathForm .existingLocs .locsList .item {
  width: 44%;
  float: left;
  background: #999;
  color: #fff;
  line-height: 30px;
  padding: 0 5px;
  margin-bottom: 10px;
}

/*#newPathForm .existingLocs .locsList .item:nth-child(odd){
  margin-right: 5%;
}*/
#newPathForm .existingLocs .locsList .item:nth-child(even) {
  float: right;
}

.finishingActions {
  float: right;
  margin-top: 10px;
  margin-bottom: 5px;
}

.finishingActions .btn {
  float: right;
  margin-left: 10px;
}

/* RECORDING PATH */
#pushLabel {
  width: 100%;
  height: 250px;
  background: url("../img/push.png") no-repeat;
  background-size: 100% auto;
  position: relative;
}

#pushLabel p {
  position: absolute;
  right: 0;
  top: 20px;
  width: 130px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#pushLabel .finishingActions {
  position: absolute;
  right: 0;
  bottom: 0;
}

#timer {
  position: absolute;
  bottom: 0;
  left: 25px;
  font-size: 34px;
}

/* ------------- NAVIGATE PAGE -------------- */
.navigate#content {
  padding-top: 55px;
  padding-left: 0;
  padding-right: 0;
}

.navigate .currLoc {
  background: #ccc;
  padding: 10px 15px;
  height: 42px;
  margin-bottom: -5px;
}

.navigate .currLoc .label {
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 42px;
}

.innerContent {
  padding: 0px 15px 0px 15px;
}

.destinationList .item {
  background: #fff;
  width: 38%;
  margin-bottom: 15px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 40px;
}

.destinationList .item:nth-child(odd) {
  float: left;
}

.destinationList .item:nth-child(even) {
  float: right;
}

/*.navigate .centerWrapper{
  margin-bottom: 30px;
}*/
.titleRow {
  overflow: auto;
  width: 100%;
}

.titleRow .pageTitle {
  float: left;
}

.titleRow .actions {
  float: right;
  margin-bottom: 5px;
}

/*.sort{
  float: right;
  font-weight: bold;
}*/
/*.sort .label{
  float: left;
  line-height: 30px;
}*/
.selector {
  float: right;
  background: white url("../img/dropdown-icon.png") 90% center no-repeat;
  padding: 0 35px 0 10px;
  margin-left: 6px;
  border: 1px solid #ddd;
  font-size: 20px;
  line-height: 40px;
}

#sortSelectionBox, #navigateCurrSelectionBox, #newPathSelectionBox {
  clear: both;
  position: absolute;
  right: 15px;
  top: 105px;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  line-height: 200%;
  z-index: 99;
  display: none;
  font-size: 20px;
  width: 150px;
  float: right;
}

.pathList.withEdit {
  margin-top: 20px;
}

.pathList .pathLabel {
  margin-bottom: 15px;
}

.pathLabel {
  position: relative;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  background: white url("../img/path-arrow.png") center center no-repeat;
  background-size: auto 45%;
  padding: 0px 10px;
}

.pathLabel.loop {
  background: white url("../img/path-arrow-loop.png") center center no-repeat;
  background-size: auto 45%;
}

.pathLabel.double {
  background: white url("../img/path-double-arrow.png") center center no-repeat;
  background-size: auto 30%;
}

.withEdit .pathLabel {
  background: #fff;
}

.withEdit .pathLabel .locations {
  width: 75%;
  height: 50px;
  float: left;
  background: white url("../img/path-double-arrow.png") 55% center no-repeat;
  font-size: 16px;
  background-size: auto 25%;
}

.withEdit .pathLabel .locations .end {
  left: 47%;
}

.withEdit .actions {
  float: left;
  width: 25%;
  height: 50px;
  left: -10px;
}

.withEdit .actions .edit {
  float: left;
  width: 50%;
  height: 100%;
  background: url("../img/edit-btn.png") center center no-repeat;
  background-size: 70%;
}

.withEdit .actions .delete {
  float: left;
  width: 50%;
  height: 100%;
  background: url("../img/delete-btn.png") center center no-repeat;
  background-size: 70%;
}

.pathLabel .start {
  position: absolute;
}

.pathLabel .end {
  position: absolute;
  left: 60%;
}

#loop {
  clear: both;
  margin-top: 20px;
  height: 40px;
  width: 150px;
  float: right;
}

.loopBtn {
  float: right;
  width: 40px;
  height: 40px;
  background: url("../img/loop.png") no-repeat;
  background-size: 100% auto;
  margin-left: 5px;
}

#loop.on .loopBtn {
  background: url("../img/loop-active.png") no-repeat;
  background-size: 100% auto;
}

#loop.on p {
  color: #2ba3ea;
  margin-right: 5px;
}

#loop p {
  float: right;
  line-height: 40px;
  position: relative;
  top: -15px;
  font-weight: bold;
}

#navigatePause {
  display: none;
}

/* NAVIGATING */
.navigateActions {
  clear: both;
  height: 30px;
}

.navigateActions .label {
  float: left;
  line-height: 30px;
  margin-top: 10px;
  font-size: 20px;
}

.navigateActions.finished {
  display: none;
}

.navigateActions.finished .label {
  color: #2f9801;
  font-weight: bold;
}

.navigateActions.finished .btn {
  float: right;
}

.pathLabel .progress {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #3da5e1;
  margin-left: -10px;
  opacity: 0.3;
}

.pathLabel.reverse .progress {
  right: 0;
}

#timeLeft {
  font-weight: bold;
}

/* ------------- SETUP -------------- */
#content.setup {
  font-size: 16px;
  padding-top: 0px;
  top: 0px;
}
  .setup :not(.loader) img {
    width: 50%;
  }
  .setup input {
    width: 200px;
    font-size: 16px;
    line-height: 30px;
  }
  .setup a.btn {
    display: block;
    margin: 1em auto;
  }

#content.setup.loading {
  font-size: 18px;
  margin-top: 160px;
}

.skip {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
.skip a {
  color: #1b76b5;
  display: inline-block;
}
.skip a.left { float: left; }
.skip a.right { float: right; }


/* ------------- MANUAL DRIVE PAGE -------------- */

/*$control-normal: rgba(255, 255, 255, 0.8);
$control-active: rgba(85, 171, 223, 0.8);

$d-pad-width: 120px;
$d-pad-btn-width: 26px;
$d-pad-btn-offset: $d-pad-width/2 - $d-pad-btn-width;
$wheel-width: $d-pad-width/2;*/

.manual {
  overflow: hidden;
}

.manual #navBtn, #cameraFeed, #d-pad, #joystick, .manual .tooltip{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#landscapeMenu{
  -webkit-transform: matrix(0, 1, -1, 0, 0, -200);

  background: #333;
  position: absolute;
  top: -230px;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.76);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.76);
  box-shadow: 0 0 20px rgba(0,0,0,.76);
}


.manual #navBtn{
  z-index: 100;
  background-color: #94d0fa;
  position: absolute;
  left: 87%;
}

#d-pad {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 20px;
  left: 20px; }
  #d-pad button {
    background: none;
    border-style: solid;
    border-width: 26px;
    width: 0px;
    height: 0px;
    padding: 0;
    position: absolute; }
  #d-pad #forward {
    border-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    left: 34px;
    top: -26px; }
    #d-pad #forward:active {
      border-bottom-color: rgba(85, 171, 223, 0.8); }
  #d-pad #right {
    border-color: transparent;
    border-left-color: rgba(255, 255, 255, 0.8);
    right: -26px;
    top: 34px; }
    #d-pad #right:active {
      border-left-color: rgba(85, 171, 223, 0.8); }
  #d-pad #back {
    border-color: transparent;
    border-top-color: rgba(255, 255, 255, 0.8);
    left: 34px;
    bottom: -26px; }
    #d-pad #back:active {
      border-top-color: rgba(85, 171, 223, 0.8); }
  #d-pad #left {
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.8);
    left: -26px;
    top: 34px; }
    #d-pad #left:active {
      border-right-color: rgba(85, 171, 223, 0.8); }

#wheel {
  border: 30px solid rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 20px; }
  #wheel:active {
    border-color: rgba(85, 171, 223, 0.8); }

#cameraWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#cameraFeed {
  background-color: #666;
  background-image: url("http://fourwallsandaroof.com/wp-content/uploads/2012/01/b-family-room-small.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 200%;
  height: 170%;
  position: absolute;
  top: -50%;
  /*  position: absolute;
    top: 0px;
    left: 0px;*/
}

/* ------------- TUTORIALS -------------- */

#content.tutorial {
  /*background: rgba(220, 220, 220, 0.8);*/
  background: rgba(170, 230, 230, 0.85);
  height: 70px !important;
  padding-bottom: 0px;
  z-index: 50;
}
  #content.tutorial h1, #content.tutorial p {
    width: 78%;
    margin: 1em auto;
  }
  #content.tutorial h1 {
    font-size: 36px;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0;
  }
#content.tutorial.titlePage {
  height: 380px !important;
}

#tutorialImg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.tutorial .arrow {
  display: inline-block;
  width: 17px;
  height: 32px;
  position: absolute;
  top: 50%;
}
.tutorial .arrow.prev {
  background: url('../img/prev.png') no-repeat;
  left: 12px;
}
.tutorial .arrow.next {
  background: url('../img/next.png') no-repeat;
  right: 12px;
}

/* ------------- PREFERENCES -------------- */

/* also used in tutorials */
.listItem {
  background: #fff;
  clear: both;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 15px 0px;
  padding: 0px 10px;
}
.listItem span {
  display: inline-block;
}

.onoffswitch {
  float: right;
  margin: 8px 0px;
  position: relative; width: 80px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #75bdf5; color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 46px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
